/* -------------------------------------------------------------------------------------------------
  _    _  _____ _____            ______ _____        _____ 
 | |  | |/ ____|  __ \   /\     |  ____|  __ \ /\   / ____|
 | |  | | (___ | |  | | /  \    | |__  | |__) /  \ | |     
 | |  | |\___ \| |  | |/ /\ \   |  __| |  ___/ /\ \| |     
 | |__| |____) | |__| / ____ \  | |    | |  / ____ \ |____ 
  \____/|_____/|_____/_/    \_\ |_|    |_| /_/    \_\_____|
                                                           
----------------------------------------------------------------------------------------------------
COLOR SETTINGS
----------------------------------------------------------------------------------------------------
Read more about USWDS color tokens:
https://designsystem.digital.gov/design-tokens/color
----------------------------------------------------------------------------------------------------
*/



/*
----------------------------------------------------------------------------------------------------
Test color tokens
Purpose: Test system color tokens against 
luminosity bounds. This is intended to be 
an internal setting and may result in false 
positives.
----------------------------------------------------------------------------------------------------
*/

$test-system-color-tokens: false,

/*
----------------------------------------------------------------------------------------------------
Theme palette colors
----------------------------------------------------------------------------------------------------
*/

// Base colors
    // $theme-color-base-family: "gray-cool",               // Default: "gray-cool"         |  Description: Use a color family from the core palette.
    // $theme-color-base-lightest: "gray-5",                // Default: "gray-5"            |  Description: Use grades from 0-10.
    // $theme-color-base-lighter: "gray-cool-10",           // Default: "gray-cool-10"      |  Description: Use grades from 10-20.
    // $theme-color-base-light: "gray-cool-30",             // Default: "gray-cool-30"      |  Description: Use grades from 30-40.
       $theme-color-base: #2F2C2A,                        // Default: "gray-cool-50"      |  Description: Use grades from 40-50.
    // $theme-color-base-dark: "gray-cool-60",              // Default: "gray-cool-60"      |  Description: Use grades from 50-70.
    // $theme-color-base-darker: "gray-cool-70",            // Default: "gray-cool-70"      |  Description: Use grades from 60-90.
    // $theme-color-base-darkest: "gray-90",                // Default: "gray-90"           |  Description: Use grades from 70-90.
    // $theme-color-base-ink: "gray-90",                    // Default: "gray-90"           |  Description: Recommend a clone of base-darkest.

// Primary colors
    // $theme-color-primary-family: "blue",                 // Default: "blue"              |  Description: Use a color family from the core palette.
    // $theme-color-primary-lightest: FALSE,                // Default: FALSE               |  Description: Use grades 0-10.
       $theme-color-primary-lighter: #DEE8E0,             // Default: "blue-10"           |  Description: Use grades 10-20.
       $theme-color-primary-light: #B2C9B7,               // Default: "blue-30"           |  Description: Use grades 30-40.
       $theme-color-primary: #4D8157,                     // Default: "blue-60v"          |  Description: Use grades 40-60.
    // $theme-color-primary-vivid: "blue-warm-60v",         // Default: "blue-warm-60v"     |  Description: Use vivid grades 30-60.
       $theme-color-primary-dark: #236430,                // Default: "blue-warm-70v"     |  Description: Use grades 50-70.
       $theme-color-primary-darker: #1A4B24,              // Default: "blue-warm-80v"     |  Description: Use grades 60-90.
    // $theme-color-primary-darkest: FALSE,                 // Default: FALSE               |  Description: Use grades 70-90.

// Secondary colors
    // $theme-color-secondary-family: "red",                // Default: "red"               |  Description: Use a color family from the core palette.
    // $theme-color-secondary-lightest: FALSE,              // Default: FALSE               |  Description: Use grades 0-10.
       $theme-color-secondary-lighter: #DEE5EF,           // Default: "red-cool-10"       |  Description: Use grades 10-20.
       $theme-color-secondary-light: #BCCCDF,             // Default: "red-30"            |  Description: Use grades 30-40.
       $theme-color-secondary: #4F78AA,                   // Default: "red-50"            |  Description: Use grades 40-60.
    // $theme-color-secondary-vivid: "red-cool-50v",        // Default: "red-cool-50v"      |  Description: Use vivid grades 30-60.
       $theme-color-secondary-dark: #205493,              // Default: "red-60v"           |  Description: Use grades 50-70.
       $theme-color-secondary-darker: #183F6E,            // Default: "red-70v"           |  Description: Use grades 60-90.
    // $theme-color-secondary-darkest: FALSE,               // Default: FALSE               |  Description: Use grades 70-90.

// Accent warm colors
    // $theme-color-accent-warm-family: "orange",           // Default: "orange"            |  Description: Use a color family from the core palette.
    // $theme-color-accent-warm-lightest: FALSE,            // Default: FALSE               |  Description: Use grades 0-10.
       $theme-color-accent-warm-lighter: #E1F3F8,         // Default: "orange-10"         |  Description: Use grades 10-20.
       $theme-color-accent-warm-light: #9BDAF1,           // Default: "orange-20v"        |  Description: Use grades 20-40.
       $theme-color-accent-warm: #02BFE7,                 // Default: "orange-30v"        |  Description: Use grades 30-60.
       $theme-color-accent-warm-dark: #00A6D2,            // Default: "orange-50v"        |  Description: Use grades 50-70.
       $theme-color-accent-warm-darker: #046B99,          // Default: "orange-60"         |  Description: Use grades 60-90.
    // $theme-color-accent-warm-darkest: FALSE,             // Default: FALSE               |  Description: Use grades 70-90.

// Accent cool colors                                   
    // $theme-color-accent-cool-family: "blue-cool",        // Default: "blue-cool"         |  Description: Use a color family from the core palette.
    // $theme-color-accent-cool-lightest: FALSE,            // Default: FALSE               |  Description: Use grades 0-20.
       $theme-color-accent-cool-lighter: #F9E4E5,         // Default: "blue-cool-5v"      |  Description: Use grades 10-30.
       $theme-color-accent-cool-light: #F0BCBE,           // Default: "blue-cool-20v"     |  Description: Use grades 30-40.
       $theme-color-accent-cool: #E1797D,                 // Default: "cyan-30v"          |  Description: 
       $theme-color-accent-cool-dark: #CD2026,            // Default: "blue-cool-40v"     |  Description: Use grades 50-60.
       $theme-color-accent-cool-darker: #981B1E,          // Default: "blue-cool-60v"     |  Description: Use grades 60-80.
    // $theme-color-accent-cool-darkest: FALSE,             // Default: FALSE               |  Description: Use grades 70-100.


/*
----------------------------------------------------------------------------------------------------
State palette colors
----------------------------------------------------------------------------------------------------
*/

// Error colors
    // $theme-color-error-family: "red-warm",               // Default: "red-warm"          |  Description: Use a color family from the core palette.
    // $theme-color-error-lighter: "red-warm-10",           // Default: "red-warm-10"       |  Description: Use grades 10-30.
    // $theme-color-error-light: "red-warm-30v",            // Default: "red-warm-30v"      |  Description: Use grades 30-40.
    // $theme-color-error: "red-warm-50v",                  // Default: "red-warm-50v"      |  Description: Use grades 50-60.
    // $theme-color-error-dark: "red-60v",                  // Default: "red-60v"           |  Description: Use grades 60-70.
    // $theme-color-error-darker: "red-70",                 // Default: "red-70"            |  Description: Use grades 70-80.

// Warning colors
    // $theme-color-warning-family: "gold",                 // Default: "gold"              |  Description: Use a color family from the core palette.
    // $theme-color-warning-lighter: "yellow-5",            // Default: "yellow-5"          |  Description: Use grades 0-30.
    // $theme-color-warning-light: "yellow-10v",            // Default: "yellow-10v"        |  Description: Use grades 10-40.
    // $theme-color-warning: "gold-20v",                    // Default: "gold-20v"          |  Description: Use grades 50-60.
    // $theme-color-warning-dark: "gold-30v",               // Default: "gold-30v"          |  Description: Use grades 60-70.
    // $theme-color-warning-darker: "gold-50v",             // Default: "gold-50v"          |  Description: Use grades 70-80.

// Success colors
    // $theme-color-success-family: "green-cool",           // Default: "green-cool"        |  Description: Use a color family from the core palette.
    // $theme-color-success-lighter: "green-cool-5",        // Default: "green-cool-5"      |  Description: Use grades 0-30.
    // $theme-color-success-light: "green-cool-20v",        // Default: "green-cool-20v"    |  Description: Use grades 10-40.
    // $theme-color-success: "green-cool-40v",              // Default: "green-cool-40v"    |  Description: Use grades 50-60.
    // $theme-color-success-dark: "green-cool-50v",         // Default: "green-cool-50v"    |  Description: Use grades 60-70.
    // $theme-color-success-darker: "green-cool-60v",       // Default: "green-cool-60v"    |  Description: Use grades 70-80.

// Info colors
    // $theme-color-info-family: "cyan",                    // Default: "cyan"              |  Description: Use a color family from the core palette.
    // $theme-color-info-lighter: "cyan-5",                 // Default: "cyan-5"            |  Description: Use grades 0-30.
    // $theme-color-info-light: "cyan-20",                  // Default: "cyan-20"           |  Description: Use grades 10-40.
    // $theme-color-info: "cyan-30v",                       // Default: "cyan-30v"          |  Description: Use grades 50-60.
    // $theme-color-info-dark: "cyan-40v",                  // Default: "cyan-40v"          |  Description: Use grades 60-70.
    // $theme-color-info-darker: "blue-cool-60",            // Default: "blue-cool-60"      |  Description: Use grades 70-80.

// Disabled colors
    // $theme-color-disabled-family: "gray",                // Default: "gray"              |  Description: Use a color family from the core palette.
    // $theme-color-disabled-lighter: "gray-20",            // Default: "gray-20"           |  Description: Use grade 20.
    // $theme-color-disabled-light: "gray-40",              // Default: "gray-40"           |  Description: Use grade 40.
    // $theme-color-disabled: "gray-50",                    // Default: "gray-50"           |  Description: Use grade 50.
    // $theme-color-disabled-dark: "gray-70",               // Default: "gray-70"           |  Description: Use grade 70.
    // $theme-color-disabled-darker: "gray-90",             // Default: "gray-90"           |  Description: Use grade 90.

// Emergency colors
    // $theme-color-emergency: "red-warm-60v",              // Default: "red-warm-60v"      |  Description: 
    // $theme-color-emergency-dark: "red-warm-80",          // Default: "red-warm-80"       |  Description: 

/*
----------------------------------------------------------------------------------------------------
General colors
----------------------------------------------------------------------------------------------------
*/

// Body
    // $theme-body-background-color: "white",               // Default: "white"           |  Description: Background color of the site body.

// Text
    // $theme-text-color: "ink",                            // Default: "ink"             |  Description: Color of body text.
    // $theme-text-reverse-color: "white",                  // Default: "white"           |  Description: Color of body text on dark backgrounds.

// Links
       $theme-link-color: "primary",                        // Default: "primary"         |  Description: Color for text links.
       $theme-link-visited-color: "primary-darker",         // Default: "violet-70v"      |  Description: Color for :visited text links
       $theme-link-hover-color: "primary-dark",             // Default: "primary-dark"    |  Description: Color for :hover text links.
       $theme-link-active-color: "primary-darker",          // Default: "primary-darker"  |  Description: Color for :active text links.
    // $theme-link-reverse-color: "base-lighter",           // Default: "base-lighter"    |  Description: Color for text links on dark backgrounds.
    // $theme-link-reverse-hover-color: "base-lightest",    // Default: "base-lightest"   |  Description: Color for :hover text links on dark backgrounds.
    // $theme-link-reverse-active-color: "white",           // Default: "white"           |  Description: Color for :active text links on dark backgrounds.

);