/* -------------------------------------------------------------------------------------------------
  _    _  _____ _____            ______ _____        _____ 
 | |  | |/ ____|  __ \   /\     |  ____|  __ \ /\   / ____|
 | |  | | (___ | |  | | /  \    | |__  | |__) /  \ | |     
 | |  | |\___ \| |  | |/ /\ \   |  __| |  ___/ /\ \| |     
 | |__| |____) | |__| / ____ \  | |    | |  / ____ \ |____ 
  \____/|_____/|_____/_/    \_\ |_|    |_| /_/    \_\_____|
                                                           
----------------------------------------------------------------------------------------------------
GENERAL SETTINGS
----------------------------------------------------------------------------------------------------
Read more about USWDS settings at:
https://designsystem.digital.gov/documentation/settings/
----------------------------------------------------------------------------------------------------
*/



/*
----------------------------------------------------------------------------------------------------
Image path
----------------------------------------------------------------------------------------------------
Relative image file path
----------------------------------------------------------------------------------------------------
*/

$theme-image-path: "./dist/uswds/images",   // Default: "../img"    |  Description: Use a path relative to the location of the final compiled CSS.


/*
----------------------------------------------------------------------------------------------------
Show compile warnings
----------------------------------------------------------------------------------------------------
Show Sass warnings when functions and
mixins use non-standard tokens.
AND
Show updates and notifications.
----------------------------------------------------------------------------------------------------
*/

$theme-show-compile-warnings: TRUE,         // Default: TRUE  |  Description: Show Sass warnings when functions and mixins use non-standard tokens.
$theme-show-notifications: TRUE,            // Default: TRUE  |  Description: Show updates and notifications about the design system.

/*
----------------------------------------------------------------------------------------------------
Namespace
----------------------------------------------------------------------------------------------------
*/

// $theme-namespace: (
//     "grid": (
//       namespace: "grid-",
//       output: true,
//     ),
//     "utility": (
//       namespace: "u-",
//       output: false,
//     ),
//   ),


/*
----------------------------------------------------------------------------------------------------
Prefix separator
----------------------------------------------------------------------------------------------------
Set the character the separates
responsive and state prefixes from the
main class name.
The default (":") needs to be preceded
by two backslashes to be properly
escaped.
----------------------------------------------------------------------------------------------------
*/

// $theme-prefix-separator: "\\:",

/*
----------------------------------------------------------------------------------------------------
Layout grid
----------------------------------------------------------------------------------------------------
Should the layout grid classes output
with !important
----------------------------------------------------------------------------------------------------
*/

// $theme-layout-grid-use-important: false,

/*
----------------------------------------------------------------------------------------------------
Border box sizing
----------------------------------------------------------------------------------------------------
When set to true, sets the box-sizing
property of all site elements to
`border-box`.
----------------------------------------------------------------------------------------------------
*/

// $theme-global-border-box-sizing: true,

/*
----------------------------------------------------------------------------------------------------
Focus outline styles
----------------------------------------------------------------------------------------------------
*/

   $theme-focus-color: "primary",       // Default: "blue-40v"  |  Description: The color of the focus outline.
// $theme-focus-offset: 0,              // Default: 0  |  Description: The offset between the element and the focus outline.
// $theme-focus-style: solid,           // Default: solid  |  Description: The style of the focus outline.
// $theme-focus-width: 0.5,             // Default: 0.5  |  Description: The width of the focus outline.


/*
----------------------------------------------------------------------------------------------------
Icons
----------------------------------------------------------------------------------------------------
*/

// $theme-icon-image-size: 2,           // Default: 2  |  Description: The size of a standard UI icon (like a close box).

);