/* -------------------------------------------------------------------------------------------------
  _    _  _____ _____            ______ _____        _____ 
 | |  | |/ ____|  __ \   /\     |  ____|  __ \ /\   / ____|
 | |  | | (___ | |  | | /  \    | |__  | |__) /  \ | |     
 | |  | |\___ \| |  | |/ /\ \   |  __| |  ___/ /\ \| |     
 | |__| |____) | |__| / ____ \  | |    | |  / ____ \ |____ 
  \____/|_____/|_____/_/    \_\ |_|    |_| /_/    \_\_____|
                                                           
----------------------------------------------------------------------------------------------------
PALETTE SETTINGS
----------------------------------------------------------------------------------------------------
Read more about USWDS palettes:
https://designsystem.digital.gov/documentation/settings/
----------------------------------------------------------------------------------------------------
*/

/*
----------------------------------------------------------------------------------------------------
Global colors
----------------------------------------------------------------------------------------------------
The following palettes will be added to
- background-color
- border-color
- color
- text-decoration-color
----------------------------------------------------------------------------------------------------
*/

$global-color-palettes: ("palette-color-default"),

/*
----------------------------------------------------------------------------------------------------
Palette Values
----------------------------------------------------------------------------------------------------
*/

// .add-aspect

$add-aspect-palettes: ("palette-add-aspect-default"),
$add-aspect-manual-values: (),

// .align-items

$align-items-palettes: ("palette-align-items-default"),
$align-items-manual-values: (),

// .align-self

$align-self-palettes: ("palette-align-self-default"),
$align-self-manual-values: (),

// .background-color

$background-color-palettes: (),      //See above under Global colors
$background-color-manual-values: (),

// .border

$border-palettes: ("palette-border-default"),
$border-manual-values: (),

// .border-color

$border-color-palettes: (),      //See above under Global colors
$border-color-manual-values: (),

// .border-radius

$border-radius-palettes: ("palette-border-radius-default"),
$border-radius-manual-values: (),

// .border-style

$border-style-palettes: ("palette-border-style-default"),
$border-style-manual-values: (),

// .border-width

$border-width-palettes: ("palette-border-width-default"),
$border-width-manual-values: (),

// .bottom

$bottom-palettes: ("palette-bottom-default"),
$bottom-manual-values: (),

// .box-shadow

$box-shadow-palettes: ("palette-box-shadow-default"),
$box-shadow-manual-values: (),

// .circle

$circle-palettes: ("palette-circle-default"),
$circle-manual-values: (),

// .color

$color-palettes: (),      //See above under Global colors
$color-manual-values: (),

// .cursor

$cursor-palettes: ("palette-cursor-default"),
$cursor-manual-values: (),

// .display

$display-palettes: ("palette-display-default"),
$display-manual-values: (),

// .flex

$flex-palettes: ("palette-flex-default"),
$flex-manual-values: (),

// .flex-direction

$flex-direction-palettes: ("palette-flex-direction-default"),
$flex-direction-manual-values: (),

// .flex-wrap

$flex-wrap-palettes: ("palette-flex-wrap-default"),
$flex-wrap-manual-values: (),

// .float

$float-palettes: ("palette-float-default"),
$float-manual-values: (),

// .font

$font-palettes: ("palette-font-default"),
$font-manual-values: (),

// .font-family

$font-family-palettes: ("palette-font-family-default"),
$font-family-manual-values: (),

// .font-feature-settings

$font-feature-palettes: ("palette-font-feature-settings-default"),
$font-feature-manual-values: (),

// .font-style

$font-style-palettes: ("palette-font-style-default"),
$font-style-manual-values: (),

// .font-weight

$font-weight-palettes: ("palette-font-weight-default"),
$font-weight-manual-values: (),

// .height

$height-palettes: ("palette-height-default"),
$height-manual-values: (),

// .justify-content

$justify-content-palettes: ("palette-justify-content-default"),
$justify-content-manual-values: (),

// .left

$left-palettes: ("palette-left-default"),
$left-manual-values: (),

// .letter-spacing

$letter-spacing-palettes: ("palette-letter-spacing-default"),
$letter-spacing-manual-values: (),

// .line-height

$line-height-palettes: ("palette-line-height-default"),
$line-height-manual-values: (),

// .margin

$margin-palettes: ("palette-margin-default"),
$margin-manual-values: (),

// .margin-vertical

$margin-vertical-palettes: ("palette-margin-vertical-default"),
$margin-vertical-manual-values: (),

// .margin-horizontal

$margin-horizontal-palettes: ("palette-margin-horizontal-default"),
$margin-horizontal-manual-values: (),

// .max-height

$max-height-palettes: ("palette-max-height-default"),
$max-height-manual-values: (),

// .max-width

$max-width-palettes: ("palette-max-width-default"),
$max-width-manual-values: (),

// .measure

$measure-palettes: ("palette-measure-default"),
$measure-manual-values: (),

// .min-height

$min-height-palettes: ("palette-min-height-default"),
$min-height-manual-values: (),

// .min-width

$min-width-palettes: ("palette-min-width-default"),
$min-width-manual-values: (),

// .opacity

$opacity-palettes: ("palette-opacity-default"),
$opacity-manual-values: (),

// .order

$order-palettes: ("palette-order-default"),
$order-manual-values: (),

// .outline

$outline-palettes: ("palette-outline-default"),
$outline-manual-values: (),

// .outline-color

$outline-color-palettes: ("palette-outline-color-default"),
$outline-color-manual-values: (),

// .overflow

$overflow-palettes: ("palette-overflow-default"),
$overflow-manual-values: (),

// .padding

$padding-palettes: ("palette-padding-default"),
$padding-manual-values: (),

// .position

$position-palettes: ("palette-position-default"),
$position-manual-values: (),

// .right

$right-palettes: ("palette-right-default"),
$right-manual-values: (),

// .square

$square-palettes: ("palette-square-default"),
$square-manual-values: (),

// .text-align

$text-align-palettes: ("palette-text-align-default"),
$text-align-manual-values: (),

// .text-decoration

$text-decoration-palettes: ("palette-text-decoration-default"),
$text-decoration-manual-values: (),

// .text-decoration-color

$text-decoration-color-palettes: (),      //See above under Global colors
$text-decoration-color-manual-values: (),

// .text-indent

$text-indent-palettes: ("palette-text-indent-default"),
$text-indent-manual-values: (),

// .text-transform

$text-transform-palettes: ("palette-text-transform-default"),
$text-transform-manual-values: (),

// .top

$top-palettes: ("palette-top-default"),
$top-manual-values: (),

// .vertical-align

$vertical-align-palettes: ("palette-vertical-align-default"),
$vertical-align-manual-values: (),

// .white-space

$whitespace-palettes: ("palette-white-space-default"),
$whitespace-manual-values: (),

// .width

$width-palettes: ("palette-width-default"),
$width-manual-values: (),

// .z-index

$z-index-palettes: ("palette-z-index-default"),
$z-index-manual-values: (),

);