/* -------------------------------------------------------------------------------------------------
  _    _  _____ _____            ______ _____        _____ 
 | |  | |/ ____|  __ \   /\     |  ____|  __ \ /\   / ____|
 | |  | | (___ | |  | | /  \    | |__  | |__) /  \ | |     
 | |  | |\___ \| |  | |/ /\ \   |  __| |  ___/ /\ \| |     
 | |__| |____) | |__| / ____ \  | |    | |  / ____ \ |____ 
  \____/|_____/|_____/_/    \_\ |_|    |_| /_/    \_\_____|
                                                           
----------------------------------------------------------------------------------------------------
SPACING SETTINGS
----------------------------------------------------------------------------------------------------
Read more about USWDS spacing units:
https://designsystem.digital.gov/design-tokens/spacing-units
----------------------------------------------------------------------------------------------------
*/



/*
----------------------------------------------------------------------------------------------------
Border radius
----------------------------------------------------------------------------------------------------
2px           2px
0.5           4px
1             8px
1.5           12px
2             16px
2.5           20px
3             24px
4             32px
5             40px
6             48px
7             56px
8             64px
9             72px
----------------------------------------------------------------------------------------------------
*/

// $theme-border-radius-sm: 2px,                    // Default: 2px  |  Description: Sets "sm" border-radius theme token.
// $theme-border-radius-md: 0.5,                    // Default: 0.5  |  Description: Sets "md" border-radius theme token.
// $theme-border-radius-lg: 1,                      // Default: 1    |  Description: Sets "lg" border-radius theme token.

/*
----------------------------------------------------------------------------------------------------
Column gap
----------------------------------------------------------------------------------------------------
2px         2px
0.5         4px
1           8px
2           16px
3           24px
4           32px
5           40px
6           48px
----------------------------------------------------------------------------------------------------
*/

// $theme-column-gap-sm: 2px,                       // Default: 2px  |  Description: Sets "grid-gap-sm" token.
// $theme-column-gap-md: 2,                         // Default: 2    |  Description: Sets "grid-gap-md" token.
// $theme-column-gap-lg: 3,                         // Default: 3    |  Description: Sets "grid-gap-lg" token.
// $theme-column-gap-mobile: 2,                     // Default: 2    |  Description: Sets gap size of "grid-gap" at mobile width.
// $theme-column-gap-desktop: 4,                    // Default: 4    |  Description: Sets gap size of "grid-gap" at desktop width.

/*
----------------------------------------------------------------------------------------------------
Grid container max-width
----------------------------------------------------------------------------------------------------
mobile
mobile-lg
tablet
tablet-lg
desktop
desktop-lg
widescreen
----------------------------------------------------------------------------------------------------
*/

$theme-grid-container-max-width: "widescreen",   // Default: "desktop"  |  Description: Sets the max-width value of the .grid-container utility.

/*
----------------------------------------------------------------------------------------------------
Site Margins
----------------------------------------------------------------------------------------------------
*/

$theme-site-margins-breakpoint: "widescreen",    // Default: "desktop"   |  Description: The breakpoint at which the site’s outer margin changes.
$theme-site-margins-width: 4,                    // Default: 4           |  Description: Site outer margin at non-mobile width (breakpoint defined by $theme-site-margins-breakpoint).
$theme-site-margins-mobile-width: 2,             // Default: 2           |  Description: Site outer margin at mobile width (breakpoint defined by $theme-site-margins-breakpoint).

);