/* -------------------------------------------------------------------------------------------------
  _    _  _____ _____            ______ _____        _____ 
 | |  | |/ ____|  __ \   /\     |  ____|  __ \ /\   / ____|
 | |  | | (___ | |  | | /  \    | |__  | |__) /  \ | |     
 | |  | |\___ \| |  | |/ /\ \   |  __| |  ___/ /\ \| |     
 | |__| |____) | |__| / ____ \  | |    | |  / ____ \ |____ 
  \____/|_____/|_____/_/    \_\ |_|    |_| /_/    \_\_____|
                                                           
----------------------------------------------------------------------------------------------------
TYPOGRAPHY SETTINGS
----------------------------------------------------------------------------------------------------
Read more about USWDS typography tokens:
https://designsystem.digital.gov/design-tokens/typesetting/overview/
----------------------------------------------------------------------------------------------------
*/



/*
----------------------------------------------------------------------------------------------------
Root font size
----------------------------------------------------------------------------------------------------
When $theme-respect-user-font-size is true the root font size will be 100% and 
media queries use ems. When false, the root font size is set with the px value 
specified in $theme-root-font-size and media queries will use px values.

----------------------------------------------------------------------------------------------------
*/

// $theme-respect-user-font-size: true,      // Default: true  
// $theme-root-font-size: 10px,              // Default: 10px

/*
----------------------------------------------------------------------------------------------------
Global styles
----------------------------------------------------------------------------------------------------
Adds basic styling for the following unclassed elements:

- paragraph: paragraph text (p elements)
- link: links (a elements)
- content: paragraph text, links, headings, lists, and tables
----------------------------------------------------------------------------------------------------
*/

// $theme-global-paragraph-styles: false,      // Default: false
// $theme-global-link-styles: false,           // Default: false
// $theme-global-content-styles: false,        // Default: false

/*
----------------------------------------------------------------------------------------------------
Browser compatibility mode
----------------------------------------------------------------------------------------------------
When true, outputs woff and ttf font formats in addition to woff2 to support IE11
----------------------------------------------------------------------------------------------------
*/

// $theme-font-browser-compatibility: false,   // Default: false

/*
----------------------------------------------------------------------------------------------------
Font path
----------------------------------------------------------------------------------------------------
Set the path to your font files relative to your compiled CSS file.
----------------------------------------------------------------------------------------------------
*/

$theme-font-path: "./dist/uswds/fonts",       // Default: "../fonts"

/*
----------------------------------------------------------------------------------------------------
Custom typeface tokens
----------------------------------------------------------------------------------------------------
Add a new custom typeface token if your project uses a typeface not already 
defined by USWDS. Add as many new tokens as you have custom typefaces.
----------------------------------------------------------------------------------------------------
USWDS defines the following tokens by default:

'georgia'
'helvetica'
'merriweather'
'open-sans'
'public-sans'
'roboto-mono'
'source-sans-pro'
'system'
'tahoma'
'verdana'
----------------------------------------------------------------------------------------------------

Example:

Make the token name lowercase and hyphenated if multiple words.
token-name: example-font-token

Choose a display name for your font typeface as it should appear in CSS.
display-name: "Example Display Name"

Set the height of a 500px `N` in Sketch.
cap-height: 364px

Your custom typeface tokens would look like:

$theme-typeface-tokens: (
  example-serif-token: (
    display-name: "Example Serif Display Name",
    cap-height: 364px,
  ),
  example-sans-token: (
    display-name: "Example Sans Display Name",
    cap-height: 364px,
  ),
),
----------------------------------------------------------------------------------------------------
*/

// $theme-typeface-tokens: (),

/*
----------------------------------------------------------------------------------------------------
Type-based font settings
----------------------------------------------------------------------------------------------------
Set the type-based tokens for your project from the following tokens,
or from any new font tokens you added in $theme-typeface-tokens.
----------------------------------------------------------------------------------------------------
'georgia'
'helvetica'
'merriweather'
'open-sans'
'public-sans'
'roboto-mono'
'source-sans-pro'
'system'
'tahoma'
'verdana'
----------------------------------------------------------------------------------------------------
*/

// Font Type
    // $theme-font-type-sans: "source-sans-pro",        // Default: "source-sans-pro"  |  Description: Project sans-serif font. Set to false if unused.
    // $theme-font-type-serif: "merriweather",          // Default: "merriweather"     |  Description: Project serif font. Set to false if unused.
    // $theme-font-type-mono: "roboto-mono",            // Default: "roboto-mono"      |  Description: Project monospaced font. Set to false if unused.
    // $theme-font-type-cond: FALSE,                    // Default: FALSE              |  Description: Project condensed font. Set to false if unused.
    // $theme-font-type-icon: FALSE,                    // Default: FALSE              |  Description: Project icon font. Set to false if unused.
    // $theme-font-type-lang: FALSE,                    // Default: FALSE              |  Description: Project language-specific font. Set to false if unused.

/*
----------------------------------------------------------------------------------------------------
Custom font stacks
----------------------------------------------------------------------------------------------------
Add custom font stacks to any of the type-based fonts. Any USWDS typeface
token already has a default stack.

Custom stacks don't need to include the font's display name. It will
automatically appear at the start of the stack.
----------------------------------------------------------------------------------------------------
Example:
$theme-font-type-sans: 'source-sans-pro';
$theme-font-sans-custom-stack: "Helvetica Neue", Helvetica, Arial, sans;

Output:
font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans;
----------------------------------------------------------------------------------------------------
*/

// $theme-font-cond-custom-stack: false,              // Default: FALSE
// $theme-font-icon-custom-stack: false,              // Default: FALSE
// $theme-font-lang-custom-stack: false,              // Default: FALSE
// $theme-font-mono-custom-stack: false,              // Default: FALSE
// $theme-font-sans-custom-stack: false,              // Default: FALSE
// $theme-font-serif-custom-stack: false,             // Default: FALSE

/*
----------------------------------------------------------------------------------------------------
Add any custom font source files
----------------------------------------------------------------------------------------------------
If you want USWDS to generate additional @font-face declarations, 
add your font data below, following the example that follows.
----------------------------------------------------------------------------------------------------
USWDS automatically generates @font-face declarations for the following:

'merriweather'
'public-sans'
'roboto-mono'
'source-sans-pro'

These typefaces do not require custom source files.
----------------------------------------------------------------------------------------------------
EXAMPLE

- dir:
  Directory relative to $theme-font-path
- This directory should include fonts saved as
  .woff2
  ExampleSerif-Normal.woff2

$theme-font-serif-custom-src: (
  dir: 'custom/example-serif',
  roman: (
    100: false,
    200: false,
    300: 'ExampleSerif-Light',
    400: 'ExampleSerif-Normal',
    500: false,
    600: false,
    700: 'ExampleSerif-Bold',
    800: false,
    900: false,
  ),
  italic: (
    100: false,
    200: false,
    300: 'ExampleSerif-LightItalic',
    400: 'ExampleSerif-Italic',
    500: false,
    600: false,
    700: 'ExampleSerif-BoldItalic',
    800: false,
    900: false,
  ),
);
----------------------------------------------------------------------------------------------------
*/

// $theme-font-cond-custom-src: false,               // Default: FALSE
// $theme-font-icon-custom-src: false,               // Default: FALSE
// $theme-font-lang-custom-src: false,               // Default: FALSE
// $theme-font-mono-custom-src: false,               // Default: FALSE
// $theme-font-sans-custom-src: false,               // Default: FALSE
// $theme-font-serif-custom-src: false,              // Default: FALSE

/*
----------------------------------------------------------------------------------------------------
Role-based font settings
----------------------------------------------------------------------------------------------------
Set the role-based tokens for your
project from the following font-type
tokens.
----------------------------------------------------------------------------------------------------
'cond'
'icon'
'lang'
'mono'
'sans'
'serif'
----------------------------------------------------------------------------------------------------
*/

// Font Role
    // $theme-font-role-ui: "sans",                     // Default: "sans"   |  Description: Assign font family used for interfaces and buttons from type-based family tokens.
    // $theme-font-role-heading: "serif",               // Default: "serif"  |  Description: Assign font family used for headings from type-based family tokens.
    // $theme-font-role-body: "sans",                   // Default: "sans"   |  Description: Assign font family used for body text from type-based family tokens.
    // $theme-font-role-code: "mono",                   // Default: "mono"   |  Description: Assign font family used for code from type-based family tokens.
    // $theme-font-role-alt: "serif",                   // Default: "serif"  |  Description: Assign font family used for alternative type sections from type-based family tokens.

/*
----------------------------------------------------------------------------------------------------
Type scale
----------------------------------------------------------------------------------------------------
Define your project's type scale using
values from the USWDS system type scale

1-20
----------------------------------------------------------------------------------------------------
*/

// Font Scale
    // $theme-type-scale-3xs: 2,                        // Default: 2   |  Description: Use system size tokens. Use False if unused.
    // $theme-type-scale-2xs: 3,                        // Default: 3   |  Description: Use system size tokens. Use False if unused.
    // $theme-type-scale-xs: 4,                         // Default: 4   |  Description: Use system size tokens. Use False if unused.
    // $theme-type-scale-sm: 5,                         // Default: 5   |  Description: Use system size tokens. Use False if unused.
    // $theme-type-scale-md: 6,                         // Default: 6   |  Description: Use system size tokens. Use False if unused.
    // $theme-type-scale-lg: 9,                         // Default: 9   |  Description: Use system size tokens. Use False if unused.
    // $theme-type-scale-xl: 12,                        // Default: 12  |  Description: Use system size tokens. Use False if unused.
    // $theme-type-scale-2xl: 14,                       // Default: 14  |  Description: Use system size tokens. Use False if unused.
    // $theme-type-scale-3xl: 15,                       // Default: 15  |  Description: Use system size tokens. Use False if unused.

/*
----------------------------------------------------------------------------------------------------
Font weights
----------------------------------------------------------------------------------------------------
Assign weights 100-900
Or use `false` for unneeded weights.
----------------------------------------------------------------------------------------------------
*/

// ## Font Weight
    // $theme-font-weight-thin: FALSE,                  // Default: FALSE  |  Description: Use system size tokens. Use False if unused.
    // $theme-font-weight-light: 300,                   // Default: 300    |  Description: Use system size tokens. Use False if unused.
    // $theme-font-weight-normal: 400,                  // Default: 400    |  Description: Use system size tokens. Use False if unused.
    // $theme-font-weight-medium: FALSE,                // Default: FALSE  |  Description: Use system size tokens. Use False if unused.
    // $theme-font-weight-semibold: FALSE,              // Default: FALSE  |  Description: Use system size tokens. Use False if unused.
    // $theme-font-weight-bold: 700,                    // Default: 700    |  Description: Use system size tokens. Use False if unused.
    // $theme-font-weight-heavy: FALSE,                 // Default: FALSE  |  Description: Use system size tokens. Use False if unused.

// If USWDS is generating your @font-face rules,
// should we generate all available weights
// regardless of the assignments above?

// $theme-generate-all-weights: false,                   // Default: false  |  Description: Set to true to generate all available weights in @font-face rules.

/*
----------------------------------------------------------------------------------------------------
General typography settings
----------------------------------------------------------------------------------------------------
Type scale tokens
----------------------------------------------------------------------------------------------------
micro:      10px
1:          12px
2:          13px
3:          14px
4:          15px
5:          16px
6:          17px
7:          18px
8:          20px
9:          22px
10:         24px
11:         28px
12:         32px
13:         36px
14:         40px
15:         48px
16:         56px
17:         64px
18:         80px
19:         120px
20:         140px
----------------------------------------------------------------------------------------------------
Line height tokens
----------------------------------------------------------------------------------------------------
1:    1
2:    1.15
3:    1.35
4:    1.5
5:    1.62
6:    1.75
----------------------------------------------------------------------------------------------------
Font role tokens
----------------------------------------------------------------------------------------------------
'ui'
'heading'
'body'
'code'
'alt'
----------------------------------------------------------------------------------------------------
Measure (max-width) tokens
----------------------------------------------------------------------------------------------------
1:       44ex
2:       60ex
3:       64ex
4:       68ex
5:       74ex
6:       88ex
none:    none
----------------------------------------------------------------------------------------------------
*/

// Body Font
// These are the equivalent of setting the <body> element
    // $theme-body-font-family: "body",                 // Default: "body"  |  Description: Use theme tokens when possible.
    // $theme-body-font-size: "sm",                     // Default: "sm"    |  Description: Use theme tokens when possible.
    // $theme-body-line-height: 5,                      // Default: 5       |  Description: Use theme tokens when possible.

// If true, explicitly style the <body> element with the base styles
    // $theme-style-body-element: false,                // Default: false   |  Description: Set to true to style the <body> element. 

// Headings Font
    // $theme-h1-font-size: "2xl",                      // Default: "2xl"   |  Description: 
    // $theme-h2-font-size: "xl",                       // Default: "xl"    |  Description: 
    // $theme-h3-font-size: "lg",                       // Default: "lg"    |  Description: 
    // $theme-h4-font-size: "sm",                       // Default: "sm"    |  Description: 
    // $theme-h5-font-size: "xs",                       // Default: "xs"    |  Description: 
    // $theme-h6-font-size: "3xs",                      // Default: "3xs"   |  Description: 
    // $theme-heading-line-height: 2,                   // Default: 2       |  Description: 

// Additional Font Sizes
    // $theme-small-font-size: "2xs",                   // Default: "2xs"   |  Description: Used for the smallest text on a site.
    // $theme-display-font-size: "3xl",                 // Default: "3xl"   |  Description: Used for the largest text on a site.

// Font Measure (line length)
    // $theme-text-measure-narrow: 1,                   // Default: 1       |  Description: Narrow line length.
       $theme-text-measure: 6,                          // Default: 4       |  Description: Standard line length.
    // $theme-text-measure-wide: 6,                     // Default: 6       |  Description: Wide line length.

// ## Body Font
    // $theme-prose-font-family: "body",                // Default: "body"  |  Description: Font family used for body text in usa-prose. Use role-based family tokens.

// Intro Font
    // $theme-lead-font-family: "heading",              // Default: "heading"   |  Description: Font family of lead (intro) text.
    // $theme-lead-font-size: "lg",                     // Default: "lg"        |  Description: Font size of intro text.
    // $theme-lead-line-height: 6,                      // Default: 6           |  Description: Line height of intro text.
    // $theme-lead-measure: 6,                          // Default: 6           |  Description: Line length of intro text.

// Margin
    // $theme-heading-margin-top: 1.5em,                // Default: 1.5em   |  Description: Top margin for headings in usa-prose.
    // $theme-paragraph-margin-top: 1em,                // Default: 1em     |  Description: Top margin for paragraphs in usa-prose.

);