/* -------------------------------------------------------------------------------------------------
  _    _  _____ _____            ______ _____        _____ 
 | |  | |/ ____|  __ \   /\     |  ____|  __ \ /\   / ____|
 | |  | | (___ | |  | | /  \    | |__  | |__) /  \ | |     
 | |  | |\___ \| |  | |/ /\ \   |  __| |  ___/ /\ \| |     
 | |__| |____) | |__| / ____ \  | |    | |  / ____ \ |____ 
  \____/|_____/|_____/_/    \_\ |_|    |_| /_/    \_\_____|
                                                           
----------------------------------------------------------------------------------------------------
UTILITIES SETTINGS
----------------------------------------------------------------------------------------------------
Read more about USWDS utility tokens:
https://designsystem.digital.gov/documentation/settings/
----------------------------------------------------------------------------------------------------
*/



/*
----------------------------------------------------------------------------------------------------
Utilities use !important
----------------------------------------------------------------------------------------------------
Output all utilities with !important. This 
can be necessary if you intend utilities 
to override existing styles.
----------------------------------------------------------------------------------------------------
*/

$utilities-use-important: false,

/*
----------------------------------------------------------------------------------------------------
Utility uselist
----------------------------------------------------------------------------------------------------
Include a list of all utility modules to 
output. Ex: ("align-items", "border", 
"margin", "padding"). 
"default" includes all utilities.
----------------------------------------------------------------------------------------------------
*/

$output-these-utilities: default,

/*
----------------------------------------------------------------------------------------------------
Utility breakpoints
----------------------------------------------------------------------------------------------------
Which breakpoints does your project
need? Select as `true` any breakpoint
used by utilities or layout grid
----------------------------------------------------------------------------------------------------
*/

$theme-utility-breakpoints: (
  "card": false,          // 160px    // Default: false
  "card-lg": false,       // 240px    // Default: false
  "mobile": true,         // 320px    // Default: false
  "mobile-lg": true,      // 480px    // Default: true 
  "tablet": true,         // 640px    // Default: true 
  "tablet-lg": false,     // 880px    // Default: false
  "desktop": true,        // 1024px   // Default: true 
  "desktop-lg": false,    // 1200px   // Default: false
  "widescreen": true,     // 1400px   // Default: false
),

/*
----------------------------------------------------------------------------------------------------
Custom breakpoints
----------------------------------------------------------------------------------------------------
Set additional custom mobile-first 
breakpoints to be output for the utilities. 
Values must be passed in with px values 
inside a Sass map.
----------------------------------------------------------------------------------------------------
*/

$theme-utility-breakpoints-custom: (),

/*
----------------------------------------------------------------------------------------------------
Settings
----------------------------------------------------------------------------------------------------
*/

$add-aspect-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$add-list-reset-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$align-items-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$align-self-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$background-color-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: false,              // default: false
  hover: true,               // default: true
  visited: false,            // default: false
),

$border-settings: (
  output: true,              // default: true
  responsive: true,          // default: true
  active: false,             // default: false
  focus: false,              // default: false
  hover: true,               // default: true
  visited: false,            // default: false
),

$border-color-settings: (
  output: true,              // default: true
  responsive: true,          // default: true
  active: false,             // default: false
  focus: false,              // default: false
  hover: true,               // default: true
  visited: false,            // default: false
),

$border-radius-settings: (
  output: true,              // default: true
  responsive: true,          // default: true
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$border-style-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$border-width-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$bottom-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$box-shadow-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: false,              // default: false
  hover: true,               // default: true
  visited: false,            // default: false
),

$circle-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$clearfix-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$color-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: false,              // default: false
  hover: true,               // default: true
  visited: false,            // default: false
),

$cursor-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$display-settings: (
  output: true,              // default: true
  responsive: true,          // default: true
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$flex-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$flex-direction-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$flex-wrap-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$float-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$font-settings: (
  output: true,              // default: true
  responsive: true,          // default: true
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$font-family-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$font-feature-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$font-style-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$font-weight-settings: (
  output: true,              // default: true
  responsive: true,          // default: true
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$height-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$justify-content-settings: (
  output: true,              // default: true
  responsive: true,          // default: true
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$left-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$letter-spacing-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$line-height-settings: (
  output: true,              // default: true
  responsive: true,          // default: true
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$margin-settings: (
  output: true,              // default: true
  responsive: true,          // default: true
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$max-height-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$max-width-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$measure-settings: (
  output: true,              // default: true
  responsive: true,          // default: true
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$min-height-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$min-width-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$opacity-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$order-settings: (
  output: true,              // default: true
  responsive: true,          // default: true
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$outline-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: true,               // default: false
  hover: true,              // default: false
  visited: false,            // default: false
),

$outline-color-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: true,               // default: false
  hover: true,              // default: false
  visited: false,            // default: false
),

$overflow-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$padding-settings: (
  output: true,              // default: true
  responsive: true,          // default: true
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$pin-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$position-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$right-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$square-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$text-align-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$text-decoration-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: false,              // default: false
  hover: true,               // default: true
  visited: false,            // default: false
),

$text-decoration-color-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: false,              // default: false
  hover: true,               // default: true
  visited: false,            // default: false
),

$text-indent-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$text-transform-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$top-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$vertical-align-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$whitespace-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$width-settings: (
  output: true,              // default: true
  responsive: true,          // default: true
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false
),

$z-index-settings: (
  output: true,              // default: true
  responsive: false,         // default: false
  active: false,             // default: false
  focus: false,              // default: false
  hover: false,              // default: false
  visited: false,            // default: false

);